<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bathrooms</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    </head>
    
    <body width="100vw" height="100vh">
        <canvas id="canvas" width="100vw" height="100vh"></canvas>
        <canvas id="overlay-canvas" width="100vw" height="100vh"></canvas>
        <div id="sidebar">
            <div class="sidebar-item nameplate">
                <span>Dwinelle</span>
            </div>
            <button class="sidebar-item floor-button">
                <span class="centered-text">Floor 1</span>
                <div class="plus-outline centered-text">
                    <span class="plusc plusvert"></span>
                    <span class="plusc plushozi"></span>
                </div>
            </button>
            <button class="sidebar-item floor-button">
                <span class="centered-text">Floor 1</span>
                <div class="plus-outline centered-text">
                    <span class="plusc plusvert"></span>
                    <span class="plusc plushozi"></span>
                </div>
            </button>
        </div>
        <script type="module" src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>